<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Latitude and logitude</title>
</head>
<body>
    The city is
    <span th:text="${city}"> City </span>

    <ul>
        <li th:each="city: ${cities}">
            Latitude: <span th:text="${city.lat != null ? city.lat : 0}"> Lat </span><br />
            Longitude: <span th:text="${city._long}"> Long </span><br />
            City: <span th:text="${city.cityName}"> City name </span><br />
        </li>
    </ul>

</body>
</html>